.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--bg-rose-color) 15%,
    #ffffff 15%
  );
}

.gallery-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5px;
}

.img {
  display: flex;
  flex-direction: column;
  gap: 2.5px;

  & .photo {
    width: unset;
    border-radius: 8px;
    transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  }

  & .photo:focus,
  & .photo:hover {
    transform: scale(1.25);
  }
}

.first-img {
  position: relative;
  top: -10px;
}

.fourth-img {
  position: relative;
  top: 3px;
}

.fifth-img {
  position: relative;
  top: -8px;
}
