<section class="about">
  <div class="container">
    <p class="about__top-text">Tradition and love</p>
    <h2 class="about__title">How it's made?</h2>
    <img src="./images/about-cow-1x.png" alt="cow" width="280" height="280" />
    <p class="about__text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="about__bottom-text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt.
    </p>
    <p class="about__bottom-text">Aliquam erat volutpat. Aenean accumsan.</p>
    <button type="button" class="about__btn">Read more &#10095;</button>
  </div>
</section>
