<div class="container">
    <h1 class="visually-hidden">Customer Reviews</h1>
    <div class="slider">
        <div>

            <div class="slider-foto">
                <img width="85" src="./images/testimonials1.png" alt="девушка">
            </div>
            <div class="slider-text">
                <p class="slider-paragraph"> <span class="slider-pspan">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
            </div>
            <div class="slider-dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="slider-div">
                <h4 class="slider-sity">Mariya, Washington </h4>
            </div>
        </div>
        <div>
            <div>

                <div class="slider-foto">
                    <img width="85" src="./images/testimonials2.png" alt="девушка">
                </div>
                <div class="slider-text">
                    <p class="slider-paragraph"> <span class="slider-pspan">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam
                            nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</span>
                    </p>
                </div>
                <div class="slider-dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="slider-div">
                    <h4 class="slider-sity">Sophia, New York</h4>
                </div>
            </div>
        </div>
        <div>
            <div>

                <div class="slider-foto">
                    <img width="85" src="./images/testimonials3.png" alt="девушка">
                </div>
                <div class="slider-text">
                    <p class="slider-paragraph"> <span class="slider-pspan">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam
                            nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</span>
                    </p>
                </div>
                <div class="slider-dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="slider-div">
                    <h4 class="slider-sity">Emily, Los Angeles</h4>
                </div>

            </div>
        </div>

    </div>
    <!-- <div>
        <ul class="slick-active">
            <li><button type="button" class="slider-button"></button></li>
            <li><button type="button" class="slider-button"></button></li>
            <li><button type="button" class="slider-button"></button></li>
            
        </ul>
    </div> -->
</div>