<header class="header">
  <div class="container">
    <a class="header_logo link" href="" lang="en">
      <svg class="logo-icon" width="199" height="50">
        <use href="./images/icelogosvgx1.svg"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav_list list">
        <li class="nav_item">
          <a href="" class="nav_link current link">Home</a>
        </li>
        <li class="nav_item">
          <a href="" class="nav_link">About us</a>
        </li>
        <li class="nav_item">
          <a href="" class="nav_link">How it’s made?</a>
        </li>
        <li class="nav_item">
          <a href="" class="nav_link">Our products</a>
        </li>
        <li class="nav_item">
          <a href="" class="nav_link">Contact</a>
        </li>
      </ul>
      <button type="button" class="nav_btn">
        Buy now
        <svg class="nav_icon" width="10" height="10">
          <use href="./images/icons.svg#icon-Vector-1-2-1"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
