<header class="header">
  <div class="container">
    <a class="header__logo link" href="">
      <svg class="logo-icon" width="199" height="50">
        <use href="./images/icons.svg#icon-icelogosvgx1"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="" class="nav__link current link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Contact</a>
        </li>
      </ul>
      <div class="header__wrap">
        <button type="button" class="menu-open-btn" data-menu-button>
          <svg class="menu-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-burgersvg"></use>
          </svg>
        </button>
        <button type="button" class="nav__btn" data-modal-open>
          Buy now
          <svg class="nav__icon" width="10" height="10">
            <use href="./images/icons.svg#icon-Vector-1-2-1"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ice cream made with<span class="hero__title--end"><br />passion</span>
    </h1>
    <img class="hero__img" src="./images/slider-pic7mobx1.png" />
    <div class="btn__wrap">
      <button type="button" class="hero__btn--top">
        Products
        <a href="" class="hero__link"></a>
      </button>
      <button type="button" class="hero__btn--bottom">
        How it’s made?
        <a href="#about" class="hero__link"></a>
      </button>
    </div>
    <img class="hero__img--bottom" src="./images/slider-pic5 tabx1.png" />
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
</section>
