<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css"
      integrity="sha512-Y0MM+V6ymRKN2zStTqzQ227DWhhp4Mzdo6gnlRnuaNCbc+YN/ZH0sBCLTM4M0oSy9c9VKiCvd4Jk44aCLrNS5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet" href="../sass/reset.css" /> -->
    <link rel="stylesheet" href="../sass/index.css" />
  </head>
  <body class="mobile-menu">
    <!-- Placeholder. Delete. -->
    <button
      type="button"
      class="mobile-button mobile-button__burger"
      aria-expanded="false"
      data-menu-button
    >
      <svg width="20px" height="20px" aria-label="Open mobile menu">
        <use
          class="icon-menu"
          href="../images/icons.svg#icon-arrow-small"
        ></use>
      </svg>
    </button>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad
      ipsam voluptatum. Alias sequi quam officia dignissimos, voluptatum aliquam
      dolore ipsa, porro obcaecati cum eum. Fugit dolores corrupti minus
      voluptates illo a ea quia deleniti! Beatae provident numquam, soluta quis
      veritatis aut nisi unde nihil veniam praesentium tempore nulla magnam
      perspiciatis fugit alias vitae aperiam aliquam quod cupiditate! Similique,
      minus optio? Sunt omnis magni laboriosam, ad libero ipsum recusandae iure
      eligendi numquam eos quas veniam! Nam est non omnis quo porro natus
      dolores saepe architecto consequuntur fuga vero officia amet, neque
      quaerat earum, ducimus praesentium aut? Officia repellendus error
      provident perspiciatis, illum praesentium autem omnis quo eos incidunt
      exercitationem. Et necessitatibus at fuga, quibusdam mollitia cumque
      officiis tempora nihil molestias. Iure, esse cumque. Deleniti odio
      voluptas architecto vel illo tenetur voluptate officiis itaque quibusdam,
      possimus repudiandae totam tempora id incidunt ut amet! Iusto minus nemo
      odio, repellat culpa in, possimus sint earum consectetur dolorem ex
      voluptas vel quos. Similique et assumenda dolores sed quia! Nemo
      praesentium nesciunt perferendis minus quibusdam asperiores eveniet ullam
      at doloremque consequatur maiores sed iure magnam, exercitationem
      excepturi! Nobis eligendi optio, eveniet quas magni maxime molestias
      libero quos accusantium commodi ab dolorum consectetur consequuntur fugiat
      inventore?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad
      ipsam voluptatum. Alias sequi quam officia dignissimos, voluptatum aliquam
      dolore ipsa, porro obcaecati cum eum. Fugit dolores corrupti minus
      voluptates illo a ea quia deleniti! Beatae provident numquam, soluta quis
      veritatis aut nisi unde nihil veniam praesentium tempore nulla magnam
      perspiciatis fugit alias vitae aperiam aliquam quod cupiditate! Similique,
      minus optio? Sunt omnis magni laboriosam, ad libero ipsum recusandae iure
      eligendi numquam eos quas veniam! Nam est non omnis quo porro natus
      dolores saepe architecto consequuntur fuga vero officia amet, neque
      quaerat earum, ducimus praesentium aut? Officia repellendus error
      provident perspiciatis, illum praesentium autem omnis quo eos incidunt
      exercitationem. Et necessitatibus at fuga, quibusdam mollitia cumque
      officiis tempora nihil molestias. Iure, esse cumque. Deleniti odio
      voluptas architecto vel illo tenetur voluptate officiis itaque quibusdam,
      possimus repudiandae totam tempora id incidunt ut amet! Iusto minus nemo
      odio, repellat culpa in, possimus sint earum consectetur dolorem ex
      voluptas vel quos. Similique et assumenda dolores sed quia! Nemo
      praesentium nesciunt perferendis minus quibusdam asperiores eveniet ullam
      at doloremque consequatur maiores sed iure magnam, exercitationem
      excepturi! Nobis eligendi optio, eveniet quas magni maxime molestias
      libero quos accusantium commodi ab dolorum consectetur consequuntur fugiat
      inventore?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad
      ipsam voluptatum. Alias sequi quam officia dignissimos, voluptatum aliquam
      dolore ipsa, porro obcaecati cum eum. Fugit dolores corrupti minus
      voluptates illo a ea quia deleniti! Beatae provident numquam, soluta quis
      veritatis aut nisi unde nihil veniam praesentium tempore nulla magnam
      perspiciatis fugit alias vitae aperiam aliquam quod cupiditate! Similique,
      minus optio? Sunt omnis magni laboriosam, ad libero ipsum recusandae iure
      eligendi numquam eos quas veniam! Nam est non omnis quo porro natus
      dolores saepe architecto consequuntur fuga vero officia amet, neque
      quaerat earum, ducimus praesentium aut? Officia repellendus error
      provident perspiciatis, illum praesentium autem omnis quo eos incidunt
      exercitationem. Et necessitatibus at fuga, quibusdam mollitia cumque
      officiis tempora nihil molestias. Iure, esse cumque. Deleniti odio
      voluptas architecto vel illo tenetur voluptate officiis itaque quibusdam,
      possimus repudiandae totam tempora id incidunt ut amet! Iusto minus nemo
      odio, repellat culpa in, possimus sint earum consectetur dolorem ex
      voluptas vel quos. Similique et assumenda dolores sed quia! Nemo
      praesentium nesciunt perferendis minus quibusdam asperiores eveniet ullam
      at doloremque consequatur maiores sed iure magnam, exercitationem
      excepturi! Nobis eligendi optio, eveniet quas magni maxime molestias
      libero quos accusantium commodi ab dolorum consectetur consequuntur fugiat
      inventore?
    </p>
    <!-- Placeholder. Delete. -->

    <section class="mobile-menu__container" data-menu-container>
      <div class="mobile-menu__menu" data-menu>
        <div class="mobile-menu__buttons">
          <button
            type="button"
            class="mobile-button mobile-button__close-mobile"
            aria-expanded="false"
            data-menu-close
          >
            <svg width="14px" height="14px" aria-label="Close mobile menu">
              <use class="icon-close" href="../images/icons.svg#icon-EXE"></use>
            </svg>
          </button>
          <button type="button" class="mobile-button mobile-button__buy">
            Buy now
          </button>
        </div>
        <ul class="list mobile-menu__list">
          <li class="mobile-menu__list-item">
            <a href="" class="link mobile-menu__link mobile-menu__link-current"
              >Home</a
            >
          </li>
          <li class="mobile-menu__list-item">
            <a href="" class="link mobile-menu__link">About us</a>
          </li>
          <li class="mobile-menu__list-item">
            <a href="" class="link mobile-menu__link">How it's made</a>
          </li>
          <li class="mobile-menu__list-item">
            <a href="" class="link mobile-menu__link">Our products</a>
          </li>
          <li class="mobile-menu__list-item">
            <a href="" class="link mobile-menu__link">Contact</a>
          </li>
        </ul>
        <div class="mobile-menu__pictures">
          <img
            src="../images/gallery-menu/mobile_splat1_245_1x.png"
            srcset="
              ../images/gallery-menu/mobile_splat1_245_1x.png 1x,
              ../images/gallery-menu/mobile_splat1_245_1x.png 2x
            "
            width="245px"
            height="200px"
            alt="Milk Splat"
            class="mobile-menu__splat1"
            data-menu-splat1
          />
          <img
            src="../images/gallery-menu/mobile_splat2_245_1x.png"
            srcset="
              ../images/gallery-menu/mobile_splat2_245_1x.png 1x,
              ../images/gallery-menu/mobile_splat2_245_1x.png 2x
            "
            width="245px"
            height="195px"
            alt="Milk Splat"
            class="mobile-menu__splat2"
            data-menu-splat2
          />
          <img
            src="../images/gallery-menu/mobile_splat3_245_1x.png"
            srcset="
              ../images/gallery-menu/mobile_splat3_245_1x.png 1x,
              ../images/gallery-menu/mobile_splat3_245_2x.png 2x
            "
            width="245px"
            height="245px"
            alt="Milk Splat"
            class="mobile-menu__splat3"
            data-menu-splat3
          />
          <img
            src="../images/gallery-menu/mobile_cow_240_1x.png"
            srcset="
              ../images/gallery-menu/mobile_cow_240_1x.png 1x,
              ../images/gallery-menu/mobile_cow_240_2x.png 2x
            "
            width="240px"
            height="240px"
            alt="Happy Cow"
            class="mobile-menu__cow"
            data-menu-cow
          />
        </div>
      </div>
    </section>
    <script src="../js/mobile-menu.js"></script>
  </body>
</html>
