<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="close-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-EXE"></use>
            </svg>
        </button>                
        <form class="modal__form">
            <b class="modal__text">CONTACT US</b>
            <label class="modal__label">
                Your name
                <span class="input-box">
                    <input type="text" name="username" class="modal__input" autofocus placeholder="Emily Angeles"/>
                </span>                        
                </label>
            <label class="modal__label">
                Your tel
                <span class="input-box">
                    <input type="tel" name="phone_number" class="modal__input" placeholder="+610383766284" />                    
                </span>                        
            </label>
            <label class="modal__label">
                Your e-mail
                <span class="input-box">
                    <input type="email" name="email" class="modal__input" placeholder="emily@gmail.com"/>
                </span>
            </label>
            <label class="modal__label">
                Message
                <textarea name="coment" rows="5" class="modal__textarea" placeholder="Your Message"></textarea>
            </label>      
            <button type="submit" class="btn-modal">Send</button>
        </form>
    </div>
</div>